.footerSocialIcon {
  color: var(--main-color);
  font-size: 1.5em;
  background-color: white;
  background-color: #ffeeda;
  margin: 15px;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.footerSocialIcon:hover {
  background-color: var(--main-color);
  color: white;
  border: solid 1px white;
}
